body {
    margin: 0;
    overflow: hidden;
    /* background-image: url("/Images/canvasbody.jpeg");
    background-repeat: no-repeat;
    background-size: cover; */
    background: black

}


.container{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
#canvas {
    border: 2px black solid;
    background-image: url("/Images/board.png");
    background-repeat: no-repeat;
    background-size: cover;
  
}

h1 {
    color: white;
    text-align: center;
    font-size: 10vw;
}

button {
    border-radius: 15px;
    background-color: orange;
    color: white;
    font-size: 3vw;
    padding: 10px;
    border-style: none;
}

.hidden {
    opacity: 0;
    pointer-events: none;
}

.start {
    background-image: url("images/chalkboardBackground.jpeg");
    background-size: cover;
    width: 100vw;
    height: 100vh;
    background-position: center;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    position: absolute; 
}

#select{
    height:100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.character{
    height: 150px;
    display: flex;
    align-items: flex-start;

}
h2{
    color: white;
    font-size: 100px;
    margin-bottom: 0;
}

.students{
    width: 100vw;
    height: 80vh;
    top: 10vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.students3{
    
    width: 70vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 13vw;
}

.students2{
    height: 47vh;
    width: 70vw;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    margin-left: 13vw;
}

.students button img{
    width: 20vw;
    height: 30vh
}

.students button {
    background: none;
}

#juan{
    margin-right: 3vw;
}